<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Stock Site Demo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <a routerLink ='/login'>
      <span class="navbar-text">
        SignUp / Login
      </span>
    </a>
    </div>
  </div>
</nav>
    <div class="list-item">
        <h1>Make an Account!</h1>
        <p>Create an account for Free</p>
    </div>
<hr>
    <div class="list-item">
        <h1> Uses Real StockMarket Api!</h1>
        <p>Start with $5000!</p>
    </div>
<hr>
    <div class="list-item">
        <h1>Declare Bankruptcy!</h1>
        <p>Declare Bankruptcy and reset your funds to zero</p>
    </div>
<hr>
    <div class="list-item">
        <h1>Get Rich!</h1>
        <p> Invest and get rich using real-time market data</p>
    </div>
<hr>
    <div class="list-item">
        <h1>Have a virtual Bank account!</h1>
        <p>Withdraw and Deposit cash into your bank acount</p>
    </div>